<main>
  <div class="container">
    <% if @model == "teacher" %>
    <div class="row mt-5">
      <div class="col"><h3>【先生の検索結果】</h3></div>
      <div class="col"><h3>検索ワード: <%= @content %></h3></div>
    </div>
    
    <div class="row">
      <div class="col">
        <% @records.each do |teacher| %>
          <%= teacher.name %> 先生
          <% if current_parent.already_followed?(teacher) %>
            <P>登録済み</P>
          <% elsif current_parent.already_requested?(teacher) %>
            <%= link_to "申請取り消し", teacher_follow_requests_path(teacher_id:teacher.id), method: :delete %>
          <% else %>
            <%= link_to "申請する", teacher_follow_requests_path(teacher_id:teacher.id), method: :post %>
          <% end %>
        <% end %>
      </div>
    </div>
  
    <% else @model == "connection" %>
      <h3>【連絡の検索結果】検索ワード:<%= @content %></h3>
      <%= render "parent/connections/index", connections: @records %>
    <% end %>
  </div>
</main>