<!DOCTYPE html>
<html>
  <head>
    <title>RakurakuRenrakuchou</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  </head>

  <body>
    <header>
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="header-logo"><%= image_tag asset_path("rakuraku.png"), size: '60x60' %></div>
          <ul class="navbar-nav ml-auto">
            <% if parent_signed_in? %>
              <li class="nav-item mr-3"><%= link_to "連絡一覧", connections_path, class: "btn btn-outline-dark text-dark" %></li>
              <li class="nav-item mr-3"><%= link_to "年間予定", years_path, class: "btn btn-outline-dark text-dark" %></li>
              <li class="nav-item mr-3"><%= link_to "保存一覧", keeps_path, class: "btn btn-outline-dark text-dark" %></li>
              <li class="nav-item mr-3"><%= link_to "ログアウト", destroy_parent_session_path, method: :delete, class: "btn btn-outline-dark text-dark" %></li>
              <%= render "searchs/form" %>
            <% elsif teacher_signed_in? %>
              <li class="nav-item mr-3"><%= link_to "保護者一覧", teacher_teacher_parent_follows_path(current_teacher), class: "btn btn-outline-dark text-dark" %></li>
              <li class="nav-item mr-3"><%= link_to "申請一覧", teacher_teacher_follow_requests_path(current_teacher), class: "btn btn-outline-dark text-dark" %></li>
              <li class="nav-item mr-3"><%= link_to "連絡一覧", teacher_connections_path(current_teacher), class: "btn btn-outline-dark text-dark" %></li>
              <li class="nav-item mr-3"><%= link_to "年間予定", teacher_years_path, class: "btn btn-outline-dark text-dark" %></li>
              <li class="nav-item mr-3"><%= link_to "ログアウト", destroy_teacher_session_path, method: :delete, class: "btn btn-outline-dark text-dark" %></li>
            <% else %>
              <li class="nav-item mr-3"><%= link_to "トップページ", root_path, class: "btn btn-outline-dark text-dark" %></li>
              <li class="nav-item mr-3"><%= link_to "保護者の方はこちら", new_parent_session_path, class: "btn btn-outline-dark text-dark" %></li>
              <li class="nav-item mr-3"><%= link_to "教員の方はこちら", new_teacher_session_path, class: "btn btn-outline-dark text-dark" %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
    
    <%= yield %>
    
    <footer class="border-top">
      <div class="container mt-4">
        <div class="row">
          <div class="mx-auto">
            <p>-RakurakuRenrakuchou-</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
